body{
  margin: 0;
  padding: 0;
}

#sec-name{
  margin-top: 5px;
  padding: 40px 50px 50px;
  text-align: center;
  background-color: #cbb28e;
}

#name{
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 4px;
  color: #464a4e;

}

#main-topic{
  font-family: 'Lato', sans-serif;
  letter-spacing: 5px;
  font-size: 14px;
}

@font-face {
  font-family: LeJourScript;
  src: url(./le_jour_script/Le\ Jour\ Script.ttf);
}

#sec-profile{
  margin: 10px 0 0 50px;
}

#profile{
  font-family: LeJourScript;
  color: #cbb28e;
  font-size: 25px;
}

#profile-des{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: #464a4e;
  line-height: 20px;

}

#hr1{
  width: 47%;
  margin-left: 50px;
}

#aside-left{
  float: left;
  margin-left: 50px;
  width: 55%;
}

#sec-formations{
  color: #464a4e;
  font-family: 'Lato', sans-serif;
  font-size: 12px;

}

@font-face {
  font-family: Hatton;
  src: url(./Hatton_-_Free_for_personal_use/Hatton\ -\ Free\ for\ personal\ use/Hatton-Medium.otf) format("opentype");
}

.topics{
  font-family: Hatton;
  letter-spacing: 4px;
  font-size: 20px;
  color: #464a4e;
}

.formations{
  margin: 6px 0 20px;
}

.duration-formation{
  color: #706f6f;
  font-weight: bold;
}

.formation-title{
  font-weight: bold;

}

.vl{
  border-left: 1px solid black;
  height: 95%;
  position: absolute;
  left: 62%;
  margin-left: -3px;
  top: 50%;
}

#aside-right{
  float: inline-end;
  margin-left: 475px;
}

#sec-competences{
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

/* need to add progress bars */